.job-postings .choices-list .selected-choice {
  font-weight: bold;
}
.job-postings .js__job-posting-ends-at {
  font-weight: bold;
  padding-top: 20px;
}
.job-postings .layout--margin-top {
  padding-top: 20px;
}
.job-postings .card__buttons {
  position: absolute;
  right: 15px;
  top: 14px;
}
.job-postings .span--bold {
  font-weight: bold;
}
.job-postings-index .card .block--col2 .button {
  margin: 20px 0;
}
.job-postings-index .card__content--with-table th:nth-child(1) {
  width: 30%;
}
.job-postings-index .card__content--with-table th:nth-child(2) {
  width: 15%;
}
.job-postings-index .card__content--with-table th:nth-child(3) {
  width: 20%;
}
.job-postings-index .card__content--with-table th:nth-child(4) {
  width: 15%;
}
.job-postings-index .card__content--with-table th:nth-child(5) {
  width: 20%;
}
.job-postings-index .card__footer--toggle {
  height: 35px;
}
.job-postings-index .status {
  color: #8c3cd8;
}
.job-postings-index .status--stopped {
  color: #ff6a68;
}
.job-postings-index .status--active {
  color: #00c4b4;
}
.job-postings-index .status--scheduled {
  color: #fbbb00;
}
.job-postings-index .status--finished {
  color: #9c9c9c;
}
.job-postings-edit .layout {
  -ms-flex-align: start;
  align-items: flex-start;
}
.job-postings-edit .layout--uneven-three-columns {
  -ms-grid-columns: 150px 200px 1fr;
  grid-template-columns: 150px 200px 1fr;
}
.job-postings-edit .layout--four-columns:not(:first-of-type) {
  margin-bottom: 15px;
  margin-top: 10px;
}
.job-postings-edit .input--datepicker {
  width: 70%;
}
.job-postings-show .content__wrapper--highlighted .button--secondary {
  background-color: #fff;
}
.job-postings-show .content__header {
  display: none;
}
.job-postings-show .content__wrapper--draft {
  border-bottom: 1px solid #bbb;
}
.job-postings-show .content__wrapper--draft:first-child::after,
.job-postings-show .content__wrapper--draft:nth-child(2)::after {
  display: none;
}
.job-postings-show .job-posting--state__active {
  color: #00c4b4;
  margin-left: 50px;
}
.job-postings-show .job-posting--state__draft {
  color: #8c3cd8;
  margin-left: 50px;
}
.job-postings-show .job-posting--state__scheduled {
  color: #fbbb00;
  margin-left: 50px;
}
.job-postings-show .job-posting--state__finished {
  color: #9c9c9c;
  margin-left: 50px;
}
.job-postings-show .job-posting--state__stopped {
  color: #ff6a68;
  margin-left: 50px;
}
.job-postings-show .content__wrapper {
  -ms-flex-align: center;
  align-items: center;
  background-color: #0096d7;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 5fr 2fr;
  grid-template-columns: 1fr 2fr 5fr 2fr;
  height: 150px;
  position: relative;
}
.job-postings-show .content__wrapper:not(:last-child)::after {
  background-color: #0096d7;
  border: 0;
  content: "";
  height: 20px;
  left: 35px;
  position: absolute;
  top: 140px;
  transform: rotate(45deg);
  width: 20px;
  z-index: 1;
}
.job-postings-show .content__number {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-left: 36px;
}
.job-postings-show .content__number i {
  display: none;
}
.job-postings-show .content__action,
.job-postings-show .content__description {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  padding: 0 20px;
  text-align: left;
}
.job-postings-show .content__action {
  font-size: 20px;
  font-weight: bold;
}
.job-postings-show .content__description {
  font-weight: 12px;
  line-height: 19px;
}
.job-postings-show .content__button {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-right: 20px;
}
.job-postings-show .content__step-number {
  font-size: 50px;
  font-weight: bold;
  line-height: 150px;
  width: 22px;
}
.job-postings-show .content__wrapper--disabled {
  background-color: #fff;
  border-bottom: 1px solid #bbb;
  color: #9c9c9c;
}
.job-postings-show .content__wrapper--disabled .button {
  background-color: #9c9c9c;
  border-color: transparent;
  pointer-events: none;
}
.job-postings-show .content__wrapper--disabled:not(:last-child)::after {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.job-postings-show .content__wrapper--disabled .content__step-number {
  font-size: 50px;
  font-weight: bold;
  height: 150px;
  line-height: 150px;
  width: 22px;
}
.job-postings-show .content__wrapper--disabled .content__number {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}
.job-postings-show .content__wrapper--disabled .content__number i {
  display: none;
}
.job-postings-show .content__wrapper--valid {
  background-color: #fff;
  border-bottom: 1px solid #bbb;
  color: #9c9c9c;
}
.job-postings-show .content__wrapper--valid:not(:last-child)::after {
  background-color: #fff;
  border: 0;
  display: none;
}
.job-postings-show .content__wrapper--valid .content__step-number {
  display: none;
}
.job-postings-show .content__wrapper--valid .content__number {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  line-height: 150px;
}
.job-postings-show .content__wrapper--valid .content__number i {
  display: block;
  height: 50px;
  width: 50px;
}
.job-postings-show .content__wrapper--valid .content__action {
  color: #00c4b4;
  font-weight: bold;
  word-break: break-word;
}
.job-postings-show .content__wrapper--valid .content__description {
  color: #474747;
  font-weight: bold;
}
.job-postings-show .details-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.job-postings-show .details-wrapper i {
  margin-bottom: -3px;
  margin-right: 5px;
}
.job-postings-show .details-wrapper p {
  display: inline-block;
}
